# Core API
fastapi
uvicorn[standard]
python-dotenv

# DB (Async PostgreSQL)
sqlalchemy[asyncio]
asyncpg
alembic

# Validation
pydantic
pydantic-settings

# LLM (Groq)
groq
langchain-core
langchain-groq

# LangGraph
langgraph
langgraph-checkpoint-postgres

# HTTP client
httpx
psycopg2-binary

# psycopg2-binary==2.9.9